# <font color="#03588C">Data Analystics in Action -2021/22</font>
## <font color="#035AA6">Seminar 4 </font>

### <font color="#BF8B2A">1 - About this notebook</font> ###
#### <font color="#BF9A2A">Let's talk about why we have this material.</font> ####

Althouth you may have learned how to query a database from a console or a GUI like [phpMyAdmin](https://community.dur.ac.uk/php.myadmin/password/phpMyAdmin/), when dealing with huge amount of data or to build your own application in the future, the best approach is to directly access the data from your program. In this material, we'll show you how to do that in python.

Since the purpose is to tell you how to query a database by yourself, we'll NOT pre-inject the data for you. Instead, you'll have to create the table and insert the data by yourself.

To give you full-access of the database on the university server, we'll use mySQL on this one. 

##### Connectors #####

You'll need to use an "Adapter"-like package to connect python and the database management system. In this case it will be [MySQL Connectors](https://www.mysql.com/products/connector/). Please install it in your local.

In case you want to install in your own enviroment, you can install it via [conda](https://anaconda.org/anaconda/mysql-connector-python).

### <font color="#BF8B2A">2 - Packages</font> ###
#### <font color="#BF9A2A">Let's import the package that allows you to connect to the database management system.</font>####

In [2]:
import mysql.connector
from mysql.connector import Error

### <font color="#BF8B2A">3 - Connections</font> ###
#### <font color="#BF9A2A">Then, let's establish the connection to our database.</font>####
##### As talked, most of the values stay the same. #####
- <font color="#2874A6">user</font> and <font color="2874A6">password</font> are corresponding to your credentials to the DBMS, we've already set up the account for you. The username and the password is your ID and password for  phpMyAdmin.

- <font color="#2874A6">host</font> stands for the server which the database management system(DBMS) is running on. In this case, it's on the same server as the phpMyAdmin is running on. Then the value would be <font color="#B02828">"myeusql.dur.ac.uk"</font>.

- <font color="#2874A6">database</font> stands for the database inside the DBMS, one DBMS can handle multiple databases. Use the database you created in the previous seminar.

Please change the username and the database to your own credentials accordingly. 
Note: you need to connect to VPN for this to work.

Also, the connector depends on a cursor object to interact with the DBMS, the following code snippet will create one <code>cursor = conn.cursor()</code>

In [11]:
# You need to fill in your credentials, and take care the error
# try to connect to the database called "xxxxx_world" that created in Seminar 3 
# and then use "SHOW TABLES" SQL statement to show all the tables in the database
    
conn = mysql.connector.connect(user=None, password=None, host=None, database=None)

### <font color="#BF8B2A">4 - Data injection SQL</font> ###
#### <font color="#BF9A2A">Finally, it's time to do some query.</font> ####
This step is quite straight forward, just put the SQL into the <code>execute()</code> method and you're ready to go. Try to create the tables and insert the data by yourself. 

Also, since by default Connector/Python does not autocommit, it is important to call <code>commit()</code> method after every transaction that modifies data for tables that use transactional storage engines.

For convenience sake, we've pasted the SQL here and tuned it a little bit for MySQL for you.

##### <font color="#FF5A49">Create a table named "sample" and insert some data into it.</font> #####

<code>CREATE TABLE sample (
    no integer PRIMARY KEY,
    name varchar(50),
    price integer
    );
    
INSERT INTO sample VALUES(1001,'orange',50);
INSERT INTO sample VALUES(1002,'apple',90);
INSERT INTO sample VALUES(1003,'banana',50);</code>

In [3]:
# Type the query here
create_table_query = None
insert_query_list = None

# To make sure there's no duplication of the table, we will execute a query to drop the table if it exists
cursor.execute("DROP TABLE IF EXISTS sample")

# Create the table
cursor.execute(create_table_query)

# Insert some data
for insert_query in insert_query_list:
    cursor.execute(insert_query)
# Commit the changes    
conn.commit()

# Confirm we have successfully created the table and inserted the data
# Execute the SELECT query
cursor.execute("SELECT * FROM sample")
# Fetch all the results
results = cursor.fetchall()
# Print the result
for result in results:
    print(result)

NameError: name 'cursor' is not defined

##### <font color="#FF5A49">Create a table named "category" and insert some data into it.</font> #####

<code>CREATE TABLE category (
    cat_id integer PRIMARY KEY,
    cat_name varchar(30)
    );
    
INSERT INTO category VALUES(1,'Art');
INSERT INTO category VALUES(2,'Cookbook');
INSERT INTO category VALUES(3,'Dictionary');
INSERT INTO category VALUES(4,'Health');
INSERT INTO category VALUES(5,'History');
INSERT INTO category VALUES(6,'Textbook');
INSERT INTO category VALUES(7,'Science');
INSERT INTO category VALUES(8,'Travel');
INSERT INTO category VALUES(9,'Science Fiction');
INSERT INTO category VALUES(10,'Comic Book');</code>

In [ ]:
# Type the query here
create_table_query = None
insert_query_list = None

# To make sure there's no duplication of the table, we will execute a query to drop the table if it exists
cursor.execute("DROP TABLE IF EXISTS category")

# Create the table


# Insert some data


# Commit the changes    


# Confirm we have successfully created the table and inserted the data
# Execute the SELECT query
cursor.execute("SELECT * FROM category")
# Fetch all the results
results = cursor.fetchall()
# Print the result
for result in results:
    print(result)

##### <font color="#FF5A49">Create a table named "books" and insert some data into it.</font> #####

<code>CREATE TABLE books(
    book_id integer PRIMARY KEY,
    title varchar(100) NOT NULL,
    author varchar(50) NOT NULL,
    date date,
    cat_id integer REFERENCES category(cat_id),
    price integer CHECK(price > 0),
    stock integer DEFAULT 0
    );
    
INSERT INTO books VALUES(10001,'Healthy habits','Taro Yamada','20160830',4,2200,15);
INSERT INTO books VALUES(10002,'Vietnam in a week','John Pham','20170310',8,600,20);
INSERT INTO books VALUES(10003,'Sazaesan','Machiko Hasegawa','20160121',10,1200,7);
INSERT INTO books VALUES(10004,'Planet of apes','Monkey Mann','20160515',9,1000,null);
INSERT INTO books VALUES(10005,'Yoga for Dummies','Hanako Yamada','20161123',4,1600,5);
INSERT INTO books VALUES(10006,'English Dictionary','John Smith','20170120',3,1600,10);
INSERT INTO books VALUES(10007,'Quantum Physics for Dummies','Jim Kim','20170225',7,700,18);
INSERT INTO books VALUES(10008,'Introduction to Running','Peter Chen','20161022',4,2100,12);
INSERT INTO books VALUES(10009,'Minority Report','Ken Westin','20160115',9,1300,3);
INSERT INTO books VALUES(10010,'Greek Kitchen','Nick Papadomitos','20170216',2,1000,8);</code>

In [ ]:
# Type the query here
create_table_query = None
insert_query_list = None

# To make sure there's no duplication of the table, we will execute a query to drop the table if it exists
cursor.execute("DROP TABLE IF EXISTS books")

# Create the table

# Insert some data

# Commit the changes    


# Confirm we have successfully created the table and inserted the data
# Execute the SELECT query
cursor.execute("SELECT * FROM books")
# Fetch all the results
results = cursor.fetchall()
# Print the result
for result in results:
    print(result)

### <font color="#BF8B2A">5 - Retrieving data</font>  ###
#### <font color="#BF9A2A">If all goes well, you should have some tables as well as some data in your database now, let verify that next.</font> ####
Similiar as above, all you have to do is to write the correct SQL and then execute it. After the execution, the data will be saved in the cursor object, you can call <code>fecthall()</code> to get all the query result.

We will provide an example for you to fetch all the data in table "books" and print them out.

In [4]:
sql = "SELECT * FROM books;"
cursor.execute(sql)
result = cursor.fetchall()
for row in result:
    print(row)

NameError: name 'cursor' is not defined

### <font color="#6F7072">Now you've learned how to retrieve as well as how to print the data, feel free to experiment with other query sentence. You can do better by utilizing the knowledge you've learned from Data Science to process or visualize these data.</font> ###
<img src="img/glhf.png" align="left" width="500px"></img>

In [ ]:
# Template for you to explore with SQL
sql = None
cursor.execute(sql)
result = cursor.fetchall()
for row in result:
    print(row)

In [ ]:
#close cursor and connection object