In [3]:
#create a database name “Pusername_dCenter” in MySQL provided by our university (URL: "myeusql.dur.ac.uk") 

import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(user='cwrk44', password='byke57r', host= 'myeusql.dur.ac.uk')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print('Connected to MySQL Server version ', db_Info)
        cursor = connection.cursor()
        cursor.execute('CREATE DATABASE Pcwrk44_dCenter')
        records = cursor.fetchall()
        for record in records:
            print(record)   

except Error as e:
    print('Error while connecting to MySQL', e)

Connected to MySQL Server version  5.5.5-10.5.18-MariaDB-log

In [9]:
try:
    connection = mysql.connector.connect(user='cwrk44', password='byke57r', host= 'myeusql.dur.ac.uk')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print('Connected to MySQL Server version ', db_Info)
        cursor = connection.cursor()
        cursor.execute('SHOW DATABASES')
        records = cursor.fetchall()
        for record in records:
            print(record)   

except Error as e:
    print('Error while connecting to MySQL', e)

Connected to MySQL Server version  5.5.5-10.5.18-MariaDB-log
('Icwrk44_lecture1_engineering_company',)
('Pcwrk44_dCenter',)
('Pcwrk44_world',)
('information_schema',)

In [11]:
try:
    connection = mysql.connector.connect(user='cwrk44', password='byke57r', host= 'myeusql.dur.ac.uk',database= 'Pcwrk44_dCenter')
    cursor = connection.cursor()
    result = cursor.execute("CREATE TABLE teacher (teacher_id int(10) NOT NULL, t_fullname varchar(200) NOT NULL,t_phonenumber int(11) NOT NULL,t_email varchar(100) NOT NULL , hiring_date Date NOT NULL, contract_id int(11) NOT NULL, PRIMARY KEY (teacher_id), FOREIGN KEY (contract_id) REFERENCES contract(contract_id)")
    print("Teacher Table created successfully")
#teacher table
except mysql.connector.Error as error:
    print("Failed to create table in MySQL: {}".format(error))
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Failed to create table in MySQL: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '' at line 1
MySQL connection is closed

In [7]:
#b)	create the tables designed in your ER diagram in this database.  Lecture 7 page 15

try:
    connection = mysql.connector.connect(user='cwrk44', password='byke57r', host= 'myeusql.dur.ac.uk',database= 'Pcwrk44_dCenter')
    cursor = connection.cursor()
#teacher table
    mySql_Create_Table_Teacher_Query = 
    "CREATE TABLE teacher (teacher_id int(10) NOT NULL, t_fullname varchar(200) NOT NULL,t_phonenumber int(11) NOT NULL,t_email varchar(100) NOT NULL , hiring_date Date NOT NULL, contract_id int(11) NOT NULL, PRIMARY KEY (teacher_id), 
    FOREIGN KEY (contract_id) REFERENCES contract(contract_id)"
#contract table
    mySql_Create_Table_Contract_Query = """CREATE TABLE contract (contract_id int(10) NOT NULL, teacher_id int(10) NOT NULL,course_id VARCHAR(10) NOT NULL,
PRIMARY KEY (contract_id)), FOREIGN KEY (teacher_id) REFERENCES teacher(teacher_id), FOREIGN KEY (course_id) REFERENCES course(course_id))"""
#course table
    mySql_Create_Table_Course_Query = """CREATE TABLE course (course_id VARCHAR(10) NOT NULL,title VARCHAR(50) NOT NULL,
course_type VARCHAR(10) NOT NULL,precessor_course_id VARCHAR(10) NOT NULL,successor_course_id VARCHAR(10) NOT NULL,contract_id int(10) NOT NULL,
reg_id int(10) NOT NULL,PRIMARY KEY (course_id)),FOREIGN KEY (contract_id) REFERENCES contract(contract_id),FOREIGN KEY (reg_id) REFERENCES registration(reg_id))"""
#registration table
    mySql_Create_Table_Registration_Query = """CREATE TABLE registration (reg_id int(10) NOT NULL, course_id VARCHAR(10) NOT NULL,
student_id int(8) NOT NULL,PRIMARY KEY (reg_id)),FOREIGN KEY (course_id) REFERENCES course(course_id)FOREIGN KEY (student_id) REFERENCES student(student_id))"""
#student table
    mySql_Create_Table_Student_Query = """CREATE TABLE student (student_id int(8) NOT NULL, s_fullname varchar(200) NOT NULL,s_phonenumber int(11) NOT NULL,
s_email varchar(100) NOT NULL , date_of_join Date NOT NULL,reg_id int(10) NOT NULL,PRIMARY KEY (student_id),FOREIGN KEY (reg_id) REFERENCES registration(reg_id))"""
    result = cursor.execute(mySql_Create_Table_Teacher_Query)
    print("Teacher Table created successfully")
    result = cursor.execute(mySql_Create_Table_Contract_Query)
    print("Contract Table created successfully")
    result = cursor.execute(mySql_Create_Table_Course_Query)
    print("Course Table created successfully")
    result = cursor.execute(mySql_Create_Table_Registration_Query)
    print("Registration Table created successfully")
    result = cursor.execute(mySql_Create_Table_Student_Query)
    print("Student Table created successfully")
except mysql.connector.Error as error:
    print("Failed to create table in MySQL: {}".format(error))

Failed to create table in MySQL: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '
FOREIGN KEY (contract_id) REFERENCES contract(contract_id))' at line 2

In [ ]:
#insert at least two rows in each table. – Lecture 7 page 20-25

mySql_insert_query = """INSERT INTO teacher (teacher_id, t_fullname, t_phonenumber, t_email, hiring_date, contract_id) VALUES (%s, %s, %s, %s) """
records_to_insert = [(50121, 'Adam Smith', 7769066252, 'adam.smith@training.ac.uk', '2019-01-11','2019014567'), (50121, 'Jane Kim', 7645369768, 'jane.kim@training.ac.uk', '2019-01-16','2019014567')]
cursor = connection.cursor()
cursor.executemany(mySql_insert_query, records_to_insert)