In [1]:
#create a database name “Pusername_dCenter” in MySQL provided by our university (URL: "myeusql.dur.ac.uk") 

import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(user='cwrk44', password='byke57r', host= 'myeusql.dur.ac.uk')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print('Connected to MySQL Server version ', db_Info)
        cursor = connection.cursor()
        cursor.execute('CREATE DATABASE Pcwrk44_dCenter')
        records = cursor.fetchall()
        for record in records:
            print(record)   

except Error as e:
    print('Error while connecting to MySQL', e)

Connected to MySQL Server version  5.5.5-10.5.18-MariaDB-log
Error while connecting to MySQL 1007 (HY000): Can't create database 'Pcwrk44_dCenter'; database exists

In [2]:
try:
    connection = mysql.connector.connect(user='cwrk44', password='byke57r', host= 'myeusql.dur.ac.uk')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print('Connected to MySQL Server version ', db_Info)
        cursor = connection.cursor()
        cursor.execute('SHOW DATABASES')
        records = cursor.fetchall()
        for record in records:
            print(record)   

except Error as e:
    print('Error while connecting to MySQL', e)

Connected to MySQL Server version  5.5.5-10.5.18-MariaDB-log
('Icwrk44_lecture1_engineering_company',)
('Pcwrk44_dCenter',)
('Pcwrk44_world',)
('information_schema',)

In [3]:
try:
    connection = mysql.connector.connect(user='cwrk44', password='byke57r', host= 'myeusql.dur.ac.uk',database= 'Pcwrk44_dCenter')
    if connection.is_connected():
        cursor = connection.cursor()
        cursor.execute('SET FOREIGN_KEY_CHECKS=0; DROP TABLE teacher,course,contract,student,registration')
        #cursor.execute('DROP TABLE course')
        #cursor.execute('DROP TABLE contract')
        #cursor.execute('DROP TABLE student')
        #cursor.execute('DROP TABLE registration')
        print("dropped successfully") 

except Error as e:
    print('Error while connecting to MySQL', e)

dropped successfully

In [4]:
#b)	create the tables designed in your ER diagram in this database.  Lecture 7 page 15
try:
    connection = mysql.connector.connect(user='cwrk44', password='byke57r', host= 'myeusql.dur.ac.uk',database= 'Pcwrk44_dCenter')
    cursor = connection.cursor()
#teacher table
    mySql_Create_Table_Teacher_Query = 'CREATE TABLE teacher(teacher_id int(10) NOT NULL, t_fullname varchar(200) NOT NULL,t_phonenumber VARCHAR(11) NOT NULL,t_email varchar(100) NOT NULL, hiring_date Date NOT NULL, contract_id int(10), PRIMARY KEY (teacher_id))'
    result = cursor.execute( mySql_Create_Table_Teacher_Query)
    print("Teacher Table created successfully")
#course table
    mySql_Create_Table_Course_Query = 'CREATE TABLE course (course_id VARCHAR(10) NOT NULL, title VARCHAR(50) NOT NULL,course_type VARCHAR(10) NOT NULL,precessor_course_id VARCHAR(10) ,successor_course_id VARCHAR(10) ,contract_id int(10) ,reg_id int(10) ,PRIMARY KEY (course_id))'
    result = cursor.execute( mySql_Create_Table_Course_Query)
    print("Course table created successfully")
#contract table
    mySql_Create_Table_Contract_Query = 'CREATE TABLE contract (contract_id int(10) NOT NULL, teacher_id int(10) NOT NULL,course_id VARCHAR(10) NOT NULL, PRIMARY KEY (contract_id))'
    result = cursor.execute( mySql_Create_Table_Contract_Query)
    print("Contract table created successfully")
#student table3
    mySql_Create_Table_Student_Query = 'CREATE TABLE student (student_id int(8) NOT NULL, s_fullname varchar(200) NOT NULL,s_phonenumber VARCHAR(11) NOT NULL,s_email varchar(100) NOT NULL , date_of_join Date NOT NULL,reg_id int(10) NOT NULL,PRIMARY KEY (student_id))'
    result = cursor.execute( mySql_Create_Table_Student_Query)
    print("Student table created successfully")
#registration table
    mySql_Create_Table_Registration_Query = 'CREATE TABLE registration (reg_id int(10) NOT NULL, course_id VARCHAR(10) NOT NULL, student_id int(8) NOT NULL, PRIMARY KEY (reg_id))'
    result = cursor.execute(mySql_Create_Table_Registration_Query)
    print("Registration Table created successfully")
#Add foriegnKey
    addForiegnKey_Teacher_Contract = 'ALTER TABLE teacher ADD FOREIGN KEY (contract_id) REFERENCES contract(contract_id)';
    addForiegnKey_Contract_Teacher = 'ALTER TABLE contract ADD FOREIGN KEY (teacher_id) REFERENCES teacher(teacher_id)';
    addForiegnKey_Contract_Course = 'ALTER TABLE contract ADD FOREIGN KEY (course_id) REFERENCES course(course_id)';
    addForiegnKey_Course_Contract = 'ALTER TABLE course ADD FOREIGN KEY (contract_id) REFERENCES contract(contract_id)';
    addForiegnKey_Course_Reg = 'ALTER TABLE course ADD FOREIGN KEY (reg_id) REFERENCES registration(reg_id)';
    addForiegnKey_Reg_Course = 'ALTER TABLE registration ADD FOREIGN KEY (course_id) REFERENCES course(course_id)';
    addForiegnKey_Reg_Student = 'ALTER TABLE registration ADD FOREIGN KEY (student_id) REFERENCES student(student_id)';
    addForiegnKey_Student_Reg = 'ALTER TABLE student ADD FOREIGN KEY (reg_id) REFERENCES registration(reg_id)';
    result = cursor.execute(addForiegnKey_Teacher_Contract)
    print("1.FKTeacher_Contract added")
    result = cursor.execute(addForiegnKey_Contract_Teacher)
    print("2 FKContract_Teacher added")
    result = cursor.execute(addForiegnKey_Contract_Course)
    print("3 FKContract_Course added")
    result = cursor.execute(addForiegnKey_Course_Contract)
    print("4 FKCourse_Contract added")
    result = cursor.execute(addForiegnKey_Course_Reg)
    print("5 FKCourse_Reg added")
    result = cursor.execute(addForiegnKey_Reg_Course)
    print("6 FKReg_Courseadded")
    result = cursor.execute(addForiegnKey_Reg_Student)
    print("7 FKReg_std added")
    result = cursor.execute(addForiegnKey_Student_Reg)
    print("8 FKstd added")
except mysql.connector.Error as error:
    print("Failed to create table in MySQL: {}".format(error))
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Teacher Table created successfully
Course table created successfully
Contract table created successfully
Student table created successfully
Registration Table created successfully
1.FKTeacher_Contract added
2 FKContract_Teacher added
3 FKContract_Course added
4 FKCourse_Contract added
5 FKCourse_Reg added
6 FKReg_Courseadded
7 FKReg_std added
8 FKstd added
MySQL connection is closed

In [16]:
#insert at least two rows in each table. – Lecture 7 page 20-25
try:
    connection = mysql.connector.connect(user='cwrk44', password='byke57r', host= 'myeusql.dur.ac.uk',database= 'Pcwrk44_dCenter')
    cursor = connection.cursor()
    #TeacherTable
    mySql_insert_Teacher_query = 'INSERT INTO teacher (teacher_id, t_fullname, t_phonenumber, t_email, hiring_date) VALUES (%s, %s, %s, %s, %s)'
    records_to_insert = [(50121, 'Adam Smith', '07769066252', 'adam.smith@training.ac.uk', '2019-01-11'), (50721, 'Jane Kim', '07645633252', 'jane.kim@training.ac.uk', '2019-01-16')]
    cursor.executemany(mySql_insert_Teacher_query, records_to_insert)
    connection.commit()
    print('Insert successfully')
except mysql.connector.Error as error:
    print("Failed to insert rows in MySQL: {}".format(error))
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Insert successfully
MySQL connection is closed