In [1]:
#create a database name “Pusername_dCenter” in MySQL provided by our university (URL: "myeusql.dur.ac.uk") 

import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(user='cwrk44', password='byke57r', host= 'myeusql.dur.ac.uk')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print('Connected to MySQL Server version ', db_Info)
        cursor = connection.cursor()
        cursor.execute('CREATE DATABASE Pcwrk44_dCenter')
        print('Database created succesfully')
except Error as e:
    print('Error while connecting to MySQL', e)

Connected to MySQL Server version  5.5.5-10.5.18-MariaDB-log
Database created succesfully

In [2]:
try:
    connection = mysql.connector.connect(user='cwrk44', password='byke57r', host= 'myeusql.dur.ac.uk')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print('Connected to MySQL Server version ', db_Info)
        cursor = connection.cursor()
        cursor.execute('SHOW DATABASES')
        records = cursor.fetchall()
        for record in records:
            print(record)   

except Error as e:
    print('Error while connecting to MySQL', e)

Connected to MySQL Server version  5.5.5-10.5.18-MariaDB-log
('Icwrk44_lecture1_engineering_company',)
('Pcwrk44_dCenter',)
('Pcwrk44_world',)
('information_schema',)

In [3]:
#droptables to ensure there is no duplicate table
try:
    connection = mysql.connector.connect(user='cwrk44', password='byke57r', host= 'myeusql.dur.ac.uk',database= 'Pcwrk44_dCenter')
    if connection.is_connected():
        cursor = connection.cursor()
        cursor.execute('SET FOREIGN_KEY_CHECKS=0; DROP TABLE teacher,course,contract,student,registration')
        #cursor.execute('DROP TABLE course')
        #cursor.execute('DROP TABLE contract')
        #cursor.execute('DROP TABLE student')
        #cursor.execute('DROP TABLE registration')
        print("dropped successfully") 

except Error as e:
    print('Error while connecting to MySQL', e)

dropped successfully

In [4]:
#b)	create the tables designed in your ER diagram in this database.  Lecture 7 page 15
try:
    connection = mysql.connector.connect(user='cwrk44', password='byke57r', host= 'myeusql.dur.ac.uk',database= 'Pcwrk44_dCenter')
    cursor = connection.cursor()
#teacher table
    mySql_Create_Table_Teacher_Query = 'CREATE TABLE teacher(teacher_id int(10) NOT NULL, t_fullname varchar(200) NOT NULL,t_phonenumber VARCHAR(11) NOT NULL,t_email varchar(100) NOT NULL, hiring_date Date NOT NULL, PRIMARY KEY (teacher_id))'
    result = cursor.execute( mySql_Create_Table_Teacher_Query)
    print("Teacher Table created successfully")
#course table
    mySql_Create_Table_Course_Query = 'CREATE TABLE course (course_id VARCHAR(10) NOT NULL, title VARCHAR(50) NOT NULL,course_type VARCHAR(50) NOT NULL,precessor_course_id VARCHAR(10), successor_course_id VARCHAR(10), PRIMARY KEY (course_id))'
    result = cursor.execute( mySql_Create_Table_Course_Query)
    print("Course table created successfully")
#contract table
    mySql_Create_Table_Contract_Query = 'CREATE TABLE contract (contract_id int(10) NOT NULL, teacher_id int(10) NOT NULL,course_id VARCHAR(10) NOT NULL, PRIMARY KEY (contract_id))'
    result = cursor.execute( mySql_Create_Table_Contract_Query)
    print("Contract table created successfully")
#student table3
    mySql_Create_Table_Student_Query = 'CREATE TABLE student (student_id int(10) NOT NULL, s_fullname varchar(200) NOT NULL,s_phonenumber VARCHAR(11) NOT NULL,s_email varchar(100) NOT NULL , date_of_join Date NOT NULL,PRIMARY KEY (student_id))'
    result = cursor.execute( mySql_Create_Table_Student_Query)
    print("Student table created successfully")
#registration table
    mySql_Create_Table_Registration_Query = 'CREATE TABLE registration (reg_id int(10) NOT NULL, course_id VARCHAR(10) NOT NULL, student_id int(10) NOT NULL, PRIMARY KEY (reg_id))'
    result = cursor.execute(mySql_Create_Table_Registration_Query)
    print("Registration Table created successfully")
#Add foriegnKey
    addForiegnKey_Contract_Teacher = 'ALTER TABLE contract ADD FOREIGN KEY (teacher_id) REFERENCES teacher(teacher_id)';
    addForiegnKey_Contract_Course = 'ALTER TABLE contract ADD FOREIGN KEY (course_id) REFERENCES course(course_id)';
    addForiegnKey_Reg_Course = 'ALTER TABLE registration ADD FOREIGN KEY (course_id) REFERENCES course(course_id)';
    addForiegnKey_Reg_Student = 'ALTER TABLE registration ADD FOREIGN KEY (student_id) REFERENCES student(student_id)';
    result = cursor.execute(addForiegnKey_Contract_Teacher)
    print("1.FKContract_Teacher added")
    result = cursor.execute(addForiegnKey_Contract_Course)
    print("2.FKContract_Course added")
    result = cursor.execute(addForiegnKey_Reg_Course )
    print("3.FKReg_Course added")
    result = cursor.execute(addForiegnKey_Reg_Student)
    print("4.FKReg_std added")
    
except mysql.connector.Error as error:
    print("Failed to create table in MySQL: {}".format(error))
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Teacher Table created successfully
Course table created successfully
Contract table created successfully
Student table created successfully
Registration Table created successfully
1.FKContract_Teacher added
2.FKContract_Course added
3.FKReg_Course added
4.FKReg_std added
MySQL connection is closed

In [5]:
#insert at least two rows in each table. – Lecture 7 page 20-25
try:
    connection = mysql.connector.connect(user='cwrk44', password='byke57r', host= 'myeusql.dur.ac.uk',database= 'Pcwrk44_dCenter')
    cursor = connection.cursor()
    #TeacherTable
    mySql_insert_Teacher_query = 'INSERT INTO teacher VALUES (%s, %s, %s, %s, %s)'
    records_to_insert = [(46789, 'Janie Kim', '07654391986', 'Janie.Kim@training.ac.uk', '2019-01-16'), (51851, 'Lisa Kudos', '07751105978', 'Lisa.Kudos@training.ac.uk', '2022-03-27')]
    cursor.executemany(mySql_insert_Teacher_query, records_to_insert)
    connection.commit()
    print('Inserted rows in teacher table successfully')
    #CourseTable
    mySql_insert_Course_query = 'INSERT INTO course VALUES (%s, %s, %s, %s, %s)'
    records_to_insert = [('ENG101', 'English for daily life', 'Non-Academic', 'N/A', 'ENG102'), ('KOR101', 'Korean for beginner', 'Non-Academic', 'N/A', 'KOR102'),('ENG225', 'Academic writing', 'Academic', 'ENG200', 'N/A') ]
    cursor.executemany(mySql_insert_Course_query, records_to_insert)
    connection.commit()
    print('Inserted rows in course table successfully')
    #StudentTable
    mySql_insert_Student_query = 'INSERT INTO student VALUES (%s, %s, %s, %s, %s)'
    records_to_insert = [(202104456, 'Mike Parker', '07676086607', 'Mike.Parker@training.ac.uk', '2021-12-15'), (202200003, 'Rosanne Park', '07648776638', 'Rosanne.Park@training.ac.uk', '2022-02-11')]
    cursor.executemany(mySql_insert_Student_query,records_to_insert)
    connection.commit()
    print('Inserted rows in student table successfully')
    #ContractTable
    mySql_insert_Contract_query = 'INSERT INTO contract VALUES (%s, %s, %s)'
    records_to_insert = [(22546789, 46789, 'ENG225'),(22551851,51851,'ENG225'),(10151851,51851,'KOR101')]
    cursor.executemany(mySql_insert_Contract_query,records_to_insert)
    connection.commit()
    print('Inserted rows in contract table successfully')
    #RegistrationTable
    mySql_insert_Registration_query = 'INSERT INTO registration VALUES (%s, %s, %s)'
    records_to_insert = [(2021101234,'ENG101',202104456),(2022225001,'ENG225',202200003),(2022101001,'KOR101',202200003)]
    cursor.executemany(mySql_insert_Registration_query,records_to_insert)
    connection.commit()
    print('Inserted rows in registration table successfully')
except mysql.connector.Error as error:
    print("Failed to insert rows in MySQL: {}".format(error))
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Inserted rows in teacher table successfully
Inserted rows in course table successfully
Inserted rows in student table successfully
Inserted rows in contract table successfully
Inserted rows in registration table successfully
MySQL connection is closed